
body {
    min-height: 100vh;
    background-color: rgb(1, 1, 19);
    height: 100vw;
    margin: auto;
    font-family: Montserrat;
    font-size: 15px;
    color: white;
    padding: 10px;
}

header {
    text-align: center;
}

.nave ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.nave li{
    font-family: Montserrat;
    font-size: 15px;

   
}

a{
    color: white;
    text-decoration: none;    
}

nav a:hover{ 
    color:crimson;

}

h2,h3{
    font-family: Montserrat;
    text-align:center;
    font-size: 40px;
    color: crimson;

}

.box{
    
    width: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616_960_720.jpg);
    background-position: center;
    background-size: cover;
    padding: 150px;
    box-sizing: border-box;
    color: aliceblue;
    font-family: Lato,Helvetica,sans-serif;
    font-weight: bolder;
    text-align:center;
    font-size: 50px;
    
}

.Titulo{
    height:auto;
    width: auto;
    background-color:crimson;
    text-align: center;
    font-size: 16px;
}

.galeria-container{
    
    margin-top: 30px;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between 5px;
    gap: 0.5vw;
    padding: 0 1vw;
      
}
.galeria-item{
    width: auto;
    height: auto;
    text-align: center;
   
}

.galeria-item img{
    width: 300px;
    height: 220px;
    object-fit:fill;
    border: 0.5px solid rgb(125, 125, 125);
}

.galeria-item:hover{
    transform: scale(1.2);
}

.index p{

    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.noticias p{
    text-align:justify;
    font-family: 'Lato';
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

footer{
    font-family: Montserrat;
    font-style: italic;
    color:black;
    background-color:rgb(149, 149, 223);
    font-weight: bolder;
    margin-top: 50px;
    margin-bottom: 5px;
    text-align: center;
}

.sobre img{
    margin-top: 40px;
    width: 100%;
}

.sobre h1{
    margin-top:50px;
    color: aliceblue;
    font-family: Lato,Helvetica,sans-serif;
    font-weight: bolder;
    text-align:center;
    font-size: 50px;
}