
body {
    min-height: 300px; /*  responsividade */
    max-width: 1920px; /* responsividade */
    background-color: rgb(1, 1, 19);
    margin: 0;
    font-family: Montserrat;
    font-size: 1rem;
    color: white;

}

p{
    line-height: 2rem;
    text-indent: 1rem; 
    text-align: justify;
    margin: 1rem;
}

.color {
    color:rgb(230, 230, 65);
}

header {
    text-align: center;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.menu li{
    font-family: Montserrat;
    font-size: 1rem;
}

a{
    color: white;
    text-decoration: none;    
}

nav a:hover{ 
    color:crimson;

}

h2,h3{
    font-family: Montserrat;
    text-align:center;
    font-size: 2rem;
    color: crimson;

}

.box{
    
    background-image: url("files/header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10%;
    box-sizing: border-box;
}

.box h1{
    color: aliceblue;
    font-family: Lato,Helvetica,sans-serif;
    font-weight: bolder;
    text-align:center;
    font-size: 3rem;
    
}

.Titulo{
  
    background-color:crimson;
    text-align: center;
    font-size: 1rem;
    justify-content: center;
}

.galeria-container{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    gap: 0.5vw;
    justify-content: center; 
}

.galeria-item{

    text-align: center;  
}

.galeria-item img{
    margin: auto;
    width: 250px;
    height: 200px;
    object-fit:cover;
    border: 0.5px solid rgb(125, 125, 125);
}

.galeria-item:hover{
    transform: scale(1.2);
}

.index p{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 1rem;
}

.sobre img{
    margin-top: 40px;
    width: 100%;
    
}

.sobre h1{
    margin-top:50px;
    color: aliceblue;
    font-family: 'Lato',Helvetica,sans-serif;
    font-weight: bolder;
    text-align:center;
    font-size: 2rem;
}

footer{
    font-family: 'Montserrat';
    font-style: italic;
    color:black;
    background-color:rgb(149, 149, 223);
    font-weight: bolder;
    margin-top: 50px;
    margin-bottom: 5px;
    text-align: center;
}
